// Text
$body-font-family: "Fira Sans";
$mono-font-family: "Fira Sans";
$body-text-color: #46433A;

// Head
$header-height: 4.25rem;

// Hyperlink
$link-color: #7253ed;

// Border
$border: 0px;
$border-radius: 8px;

// Side
$sidebar-color: #ffffff;
$content-width: 40rem;
